
<div class="container">
	<div class="row">
		<div class="col-sm-9">
		Inserte el Nombre del Servicio:	<input type="text" #inputServiceName /> 
		</div>
		<div class="col-sm-3">
		<button class="btn btn-info"  (click)="getCurrentNamespace(inputServiceName)">Insertar! </button>
		</div>
	</div>
</div>

<hr>
<!-- para sacar el "obj de js" que esta dentro del form, se tiene que usar la directiva
de ngForm, pero dentro de la referencia local-->
<form class="form-group form-inline form-horizontal" (ngSubmit)="createSimpleTypeList(f)" #f="ngForm">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<button class="btn btn-danger " type="ngSubmit">Insertar!</button>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		
	
		<div class="row">
		
			<div class="col-sm-3">
			Inserte minimo ocurrencias: <input type="number"  name="min" ngModel /> 
			</div>
			<div class="col-sm-3">
			Inserte maximo ocurrencias: <input type="number"  name="max" ngModel /> 
			</div>

			<div class="col-sm-3">
			Inserte el tipo:
			<input type="text"  name="type" ngModel />
			</div>
			<div class="col-sm-3">
				Inserte el nombre del parametro:
			<input type="text"  name="paramName" ngModel /> 
			</div>

			<hr>
		</div>
			<div class="row">
				<div class="col-sm-6"></div>
				<div class="col-sm-6">
					<input type="text" name="documentation" class="input-lg">
				</div>
			</div>
		
	</div>	
</form>
<hr>

	<div class="container">
		<div class="row">
			<div class="col-sm-offset-12" >
				<button class="btn btn-success" (click)='displayCompleteJson()' > mostrar XSD</button>
			</div>
			
		</div>
	</div>

	<hr>

	<div class="container">
		<div class="row">
			{{jsonString}}
		</div>
	</div>

			
			
			
		
	
