<div class="container">
	<div class="row">
			<div class="col-sm-9">
					Inserte el NameSpace:	<input type="text" #inputNamespace /> 
			</div>

			<div class="col-sm-3">
				<button class="btn btn-info" (click)="getCurrentNamespace(inputNamespace)" >Agregar nameSpace!</button>
			
		</div>
	</div>
</div>

<hr>
<!-- para sacar el "obj de js" que esta dentro del form, se tiene que usar la directiva
de ngForm, pero dentro de la referencia local-->
<form class="form-group" (ngSubmit)="createSimpleTypeList(f)" #f="ngForm" >
	<div class="container">
		<div class="row">
			<div class="col-sm-6 " ></div>
				<div class="col-sm-6" >
				<button class="btn btn-danger flex ">Construir Json!</button>
			</div>
		</div>
	</div>
	<hr>

	<div class="container" *ngFor="let type of objSimpleType">
		<hr>
		<div class="row">
			<div class="col-sm-3">
			<input type="text"  name="nameType" ngModel/> 
			<br>
			Inserte el nombre del tipo:	
			</div>
			<div class="col-sm-3">
			<input type="text"  name="type" ngModel /> 
			<br>
			Inserte el tipo:	
			</div>
		
			<div class="col-sm-2">
				<input type="number"  name="min" ngModel /> 
				<br>
				Inserte minimo: 
			</div>
			<div class="col-sm-2">
				<input type="number"  name="max" ngModel /> 
				<br>
				Inserte maximo: 
			</div>
			<div class="col-sm-2">
			<input type="checkbox" name="number" ngModel/>   Numero?
			</div>
		</div>	
	</div>
	<hr>
		
</form>
<hr>

	<div class="container">
		<div class="row">

			<div class="col-sm-offset-12" >
				<button class="btn btn-success " (click)='displayCompleteJson()' >Agregar simpleType!</button>
			</div>
			
		</div>
	</div>

	<hr>

	<div class="container">
		<div class="row">
			{{jsonString}}
		</div>
	</div>

	<br>
	<br>