<div class="container">
	<div class="row">
			<div class="col-sm-9">
					Inserte el NameSpace:	<input type="text" #inputNamespace /> 
			</div>

			<div class="col-sm-3">
				<button class="btn btn-info" (click)="getCurrentNamespace(inputNamespace)" >Agregar nameSpace!</button>
			
		</div>
	</div>
</div>

<hr>
<!-- para sacar el "obj de js" que esta dentro del form, se tiene que usar la directiva
de ngForm, pero dentro de la referencia local-->
<form class="form-group" (ngSubmit)="createSimpleTypeList(f)" #f="ngForm" >
	<div class="container">
		<div class="row">
			
			<div class="col-sm-12" >
				<button class="btn btn-warning flex ">Construir Json!</button>
			</div>

		</div>
	</div>
	<hr>

	<div class="container table-bordered " *ngFor="let type of objSimpleType;let i =index">
	
		<div class="row">
			<div class="col-sm-3">
				Inserte el nombre del tipo:	
				<input type="text" (ngModel)="type.name" name="nameType{{i}}" /> 
			</div>
			<div class="col-sm-3">
				Inserte el tipo:	
				<input type="text"   (ngModel)="type.type" name="type{{i}}"/> 
			</div>
	
			<div class="col-sm-3">
				Inserte minimo:
				<input type="number"  (ngModel)="type.min" name="min{{i}}"/>  
			</div>
			<div class="col-sm-3">
				Inserte maximo:
				<input type="number"  (ngModel)="type.max" name="max{{i}}"/>  
			</div>

		</div>	
	</div>
	<hr>
		
</form>
<div class="container">
	<div class="row">
		<div class="col-sm-6 " >
				<button class="btn btn-success " (click)='displayCompleteJson()' >Mostrar json SimpleType!</button>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row">
			{{jsonSchema}}
		</div>
	</div>

	<br>
	<br>
	<hr>
	<br>